<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>SUPABASE_URL</key>
	<string>https://pnawukicutnnbtkogvnm.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBuYXd1a2ljdXRubmJ0a29ndm5tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzNjEwNTIsImV4cCI6MjA4NjkzNzA1Mn0.ggmmodkFm2OIr1BMgzcz5CwtEYe6y_EHFUg9miXyW3k</string>
	<key>NSFaceIDUsageDescription</key>
	<string>TravianTimer verwendet Face ID, um die App vor unbefugtem Zugriff zu schützen.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>traviantimer</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.traviantimer.auth</string>
		</dict>
	</array>
</dict>
</plist>
